<label>Server Name</label>
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">

<button class='btn btn-primary' [disabled]="!allowNewServer" (click)="onCreateServer()">
    Add Server</button>
<p>{{serverCreationStatus}}</p>
<app-server></app-server>

<input
    type="text"
    class="form-control"
    [(ngModel)]="userName"
    (input)="onUpdateUsername($event)">
<button class='btn btn-primary' [disabled]="isEmpty" (click)="onEmptyUsername()">
    Click to clear username
</button>
    